html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: linear-gradient(to right, #0D2C48, #4D6C88);
  background-repeat: repeat-y;
  font-size: 16px;
  color: white;
  margin: 0;
}

/***********************************/
/********* Sign in/up Page *********/
/***********************************/
.submissionTitle {
  text-align: center;
}
.signInContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.signInBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  border: solid, thin, darkgray;
  border-radius: 5px;
  background-color: #e6e6e6;
  padding: 10px;
  color: midnightblue;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signInBox input {
  margin-top: 3px;
  margin-bottom: 10px;
  outline: none;
  font-size: 13px;
  padding: 5px 5px;
}
.signInBox button {
  color: #efefef;
  margin: 10px;
  background-color: darken(limegreen, 10%);
  padding-left: 7px;
  padding-right: 7px;
}
.signInBox button:hover {
  background-color: darken(limegreen, 12%);
}
.signInBox button:active {
  background-color: darken(limegreen, 15%);
}
.signUpLink {
  color: midnightblue;
  font-size: 13px;
}
.signUpLink:hover  {
  color: navy;
}
.signUpLink:active {
  color: navy;
}

/***********************************/
/************* Navbar **************/
/***********************************/
.Navbar {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid, thin, darkgray;
  background-color: #e6e6e6;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.14);
}
.siteName {
  font-size: 24px;
  font-family: sans-serif;
  font: helvetica;
  font-weight: bold;
}
.nbSignout {
  padding: 15px;
}

.content {
  margin: 15px;
}

/***********************************/
/********** New Listing ************/
/***********************************/
.newListingBox {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.newListing {
  font-size: 18px;
  margin: 3px;
  padding: 10px;
  background-color: #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
  transition-duration: 0.5s;
}
.newListing:hover {
  background-color: #f6f6f6;
  color: navy;
  transition-duration: 0.5s;
}

/***********************************/
/********** Filters box ************/
/***********************************/
.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.filtersBox {
  background-color: #e6e6e6;
  color: midnightblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tagTitle {
  font-size: 20px;
  margin-top: 8px;
}
.homeTags {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lostFoundBoxes {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/***********************************/
/********** New Post Page **********/
/***********************************/
.newFields {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.postBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  border: solid, thin, darkgray;
  border-radius: 5px;
  background-color: #e6e6e6;
  padding: 20px;
  color: midnightblue;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}
.checksContainer {
  padding-top: 15px;
  margin: 10px;
}
.postBox input {
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  font-size: 13px;
  padding: 5px 5px;
  border: thin solid lightgray;
  transition-duration: .5s;
  border-radius: 3px;
  width: 195px;
}
.postBox input:focus {
  border: thin solid gray;
  transition-duration: .5s;
}
.postBox textarea {
  font-size: 13px;
  border: thin solid lightgray;
  outline: none;
  margin: 10px 0;
  max-width: 200px;
  max-height: 240px;
  width: 200px;
  transition: border .5s;
  border-radius: 3px;
}
.postBox textarea:focus {
  border: thin solid gray;
  transition: border .5s;
}
.postBox button {
  font-size: 16px;
  color: #efefef;
  margin: 10px;
  background-color: darken(limegreen, 10%);
  padding: 6px 10px;
}
.postBox button:hover {
  background-color: darken(limegreen, 12%);
}
.postBox button:active {
  background-color: darken(limegreen, 15%);
}
.postCancel {
  font-size: 16px;
  background-color: firebrick;
  color: white;
  border-radius: 4px;
  padding: 6px 10px;
  border: thin solid lightgray;
  margin: 10px;
}
.postCancel:hover {
  background-color: darken(firebrick, 5%);
  color: white;
}
// Checkboxes
.check {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  border: thin solid lightgray;
  background-color: #f6f6f6;
  border-radius: 4px;
  padding-bottom: 4px;
}
.checkTitle {
  margin: 5px;
  color: #606060;
}
.checkboxDiv {
  width: 20px;
  position: relative;
  margin: 5px;
}
.checkboxDiv label {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightgray;
  border-radius: 4px;
}
.checkboxDiv label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checkboxDiv label:hover::after {
  opacity: 0.5;
}
.checkboxDiv input[type=checkbox] {
  visibility: hidden;
}
.checkboxDiv input[type=checkbox]:checked + label:after {
  opacity: 1;
}


/***********************************/
/********** Show Post Page *********/
/***********************************/
.showPostContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.showPostBox {
  background-color: #e6e6e6;
  padding: 30px;
  margin: 20px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: midnightblue;
}
.showPostTitle {
  align-self: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.showPostContent {
  padding: 10px;
  margin: 5px;
  background-color: #f6f6f6;
  border-radius: 4px;
  border: thin solid lightgray;
}
.showPostContact {
  align-self: center;
  background-color: darken(limegreen, 10%);
  color: white;
  border-radius: 4px;
  border: thin solid lightgray;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
}
.showPostContact:hover {
  color: white;
  background-color: darken(limegreen, 13%);
}
.showPostContact:active {
  color: white;
  background-color: darken(limegreen, 15%);
}


/***********************************/
/********** Profile Page ***********/
/***********************************/
.profileContainer {
  margin: 30px;
  padding: 30px;
}
.profileBox {
  padding: 50px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: midnightblue;
  background-color: #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profileTitle {
  font-size: 24px;
  align-self: center;
  margin-bottom: 15px;
}
.profileContent {
  padding: 10px;
  margin: 5px;
  background-color: #f6f6f6;
  border-radius: 4px;
  border: thin solid lightgray;
  font-size: 16px;
}

ul {
  padding-left: 0px;
}

.postSummary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 7px 0;
  border-radius: 3px;
  border-width: thin;
  border-style: solid;
  border-color: lighten(black, 15%);
  background-color: darken(white, 15%);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.14);
}

.Title {
  font-size: 18px;
}
.tagsAndAuthor {
  display:flex;
  flex-direction: row;
  justify-content: right;
}
.tag {
  color: darkslategray;
  padding: 0 8px;
}
.authorLink {
  color: midnightblue;
}

button {
  border-radius: 4px;
  padding: 4px;
  background-color: darken(white, 10%);
  outline: none;
  border-width: thin;
  font-size: 14px;
  margin: 6px;
}

.homeDelete {
  border-color: firebrick;
  background-color: lighten(firebrick, 2%);
  color: darken(white, 10%);
  align-self: center;
}
.homeDelete:active {
  background-color: darken(firebrick, 2%);
  color: white;
}

.NewFields {
  display: flex;
  flex-direction: column;
}
.NewFields input {
  margin: 8px;
  padding: 2px;
  border-radius: 4px;
  height: 20px;
}
.newButton {
  border-color: orange;
  background-color: lighten(orange, 2%);
  color: lighten(black, 20%);
}
.newButton:active {
  background-color: darken(orange, 2%);
  color: black;
}

.editButton {
  background-color: lighten(steelblue, 2%);
  border-color: steelblue;
  color: lighten(black, 10%);
}
.editButton:active {
  background-color: darken(steelblue, 2%);
  color: black;
}

.doneButton {
  border-color: mediumseagreen;
  background-color: lighten(mediumseagreen, 2%);
  color: lighten(black, 20%);
}
.doneButton:active {
  background-color: darken(mediumseagreen, 2%);
  color: black;
}

.deleteButton {
  border-color: firebrick;
  background-color: lighten(firebrick, 2%);
  color: darken(white, 10%);
}
.deleteButton:active {
  background-color: darken(firebrick, 2%);
  color: white;
}

a {
  color: midnightblue;
  text-decoration: none !important;
  text-decoration-color: transparent;
  text-decoration-line: none;
}
a:hover, a:active {
  text-decoration: none !important;
  text-decoration-color: transparent;
  background-color: transparent;
  color: navy;
}

/***********************************/
/********** Message Page ***********/
/***********************************/

.messagesPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.messagesListContainer {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 0 25px;
  background-color: #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.14);
  color: midnightblue;
}
.messagesDetailContainer {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 25px;
  background-color: #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.14);
  color: midnightblue;
}
.message-section {
  display: flex;
}
.messagesList {
  font-size: 24px;
  list-style: none;
}
.messagesList li {
  list-style: none;
  display: flex;
}
.messagesList button {
  font-size: 16px;
  background-color: #f6f6f6;
  width: 200px;
  color: midnightblue;
  padding: 10px;
  border: thin solid lightgray;
  transition-duration: 0.25s;
}
.messagesList button:hover {
  background-color: #f1f1f1;
  transition-duration: 0.25s;
  border-color: darken(lightgray, 10%);
}
.noSelectMessage {
  font-size: 32px;
  align-self: center;
}
.noMessages {
  font-size: 24px;
  align-self: center;
}
