html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: linear-gradient(to bottom right, #0D2C48, #4D6C88);
  background-repeat: no-repeat;
  font-size: 16px;
  color: white;
  margin: 0;
}

// Sign in Page
.submissionTitle {
  text-align: center;
}
.signInContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.signInBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  border: solid, thin, darkgray;
  border-radius: 5px;
  background-color: #e6e6e6;
  padding: 10px;
  color: midnightblue;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signInBox input {
  margin-top: 3px;
  margin-bottom: 10px;
  outline: none;
  font-size: 13px;
  padding: 5px 5px;
}
.signInBox button {
  color: #efefef;
  margin: 10px;
  background-color: darken(limegreen, 10%);
  padding-left: 7px;
  padding-right: 7px;
}
.signInBox button:hover {
  background-color: darken(limegreen, 12%);
}
.signInBox button:active {
  background-color: darken(limegreen, 15%);
}
.signUpLink {
  color: midnightblue;
  font-size: 13px;
}
.signUpLink:hover  {
  color: navy;
}
.signUpLink:active {
  color: navy;
}

// Navbar
.Navbar {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid, thin, darkgray;
  background-color: #e6e6e6;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.14);
}
.siteName {
  font-size: 24px;
  font-family: sans-serif;
  font: helvetica;
  font-weight: bold;
}
.nbSignout {
  padding: 15px;
}

.content {
  margin: 15px;
}

// New Listing button
.newListingBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.newListing {
  font-size: 18px;
  margin: 10px;
  padding: 3px;
  background-color: #e6e6e6;
  border-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.14);
  transition-duration: 0.5s;
}
.newListing:hover {
  background-color: #f6f6f6;
  color: navy;
  transition-duration: 0.5s;
}

// Filters box
.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.filtersBox {
  background-color: #e6e6e6;
  color: midnightblue;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h3 {
  padding: 10px;
  margin: 5px;
}
h5 {
  padding: 10px;
  margin: 5px;
}
.lostFoundBoxes {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

// posts/new
.newFields {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.postBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  border: solid, thin, darkgray;
  border-radius: 5px;
  background-color: #e6e6e6;
  padding: 10px;
  color: midnightblue;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.postBox input {
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  font-size: 13px;
  padding: 5px 5px;
  border: thin solid lightgray;
  transition-duration: .5s;
  border-radius: 3px;
  width: 180px;
}
.postBox input:focus {
  border: thin solid gray;
  transition-duration: .5s;
}
.postBox textarea {
  font-size: 13px;
  border: thin solid lightgray;
  outline: none;
  margin: 10px;
  max-width: 180px;
  max-height: 200px;
  width: 180px;
  transition: border .5s;
}
.postBox textarea:focus {
  border: thin solid gray;
  transition: border .5s;
}
.postBox button {
  color: #efefef;
  margin: 10px;
  background-color: darken(limegreen, 10%);
  padding-left: 7px;
  padding-right: 7px;
}
.postBox button:hover {
  background-color: darken(limegreen, 12%);
}
.postBox button:active {
  background-color: darken(limegreen, 15%);
}
.postCancel {
  font-size: 14px;
  background-color: firebrick;
  color: white;
  border-radius: 4px;
  padding: 5px;
  border: thin solid lightgray;
}
.postCancel:hover {
  background-color: darken(firebrick, 5%);
  color: white;
}



ul {
  padding-left: 0px;
}

.postSummary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  border-width: thin;
  border-style: solid;
  border-color: lighten(black, 15%);
  background-color: darken(white, 15%);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.14);
}

.Title {
  font-size: 18px;
}

.tag {
  color: darkslategray;
}
.authorLink {
  color: midnightblue;
}

button {
  border-radius: 4px;
  padding: 4px;
  background-color: darken(white, 10%);
  outline: none;
  border-width: thin;
  font-size: 14px;
  margin: 6px;
}

.homeDelete {
  border-color: firebrick;
  background-color: lighten(firebrick, 2%);
  color: darken(white, 10%);
  align-self: center;
}
.homeDelete:active {
  background-color: darken(firebrick, 2%);
  color: white;
}

.NewFields {
  display: flex;
  flex-direction: column;
}
.NewFields input {
  margin: 8px;
  padding: 2px;
  border-radius: 4px;
  height: 20px;
}
.newButton {
  border-color: orange;
  background-color: lighten(orange, 2%);
  color: lighten(black, 20%);
}
.newButton:active {
  background-color: darken(orange, 2%);
  color: black;
}

.editButton {
  background-color: lighten(steelblue, 2%);
  border-color: steelblue;
  color: lighten(black, 10%);
}
.editButton:active {
  background-color: darken(steelblue, 2%);
  color: black;
}

.doneButton {
  border-color: mediumseagreen;
  background-color: lighten(mediumseagreen, 2%);
  color: lighten(black, 20%);
}
.doneButton:active {
  background-color: darken(mediumseagreen, 2%);
  color: black;
}

.deleteButton {
  border-color: firebrick;
  background-color: lighten(firebrick, 2%);
  color: darken(white, 10%);
}
.deleteButton:active {
  background-color: darken(firebrick, 2%);
  color: white;
}

a {
  color: midnightblue;
  text-decoration: none !important;
  text-decoration-color: transparent;
  text-decoration-line: none;
}
a:hover, a:active {
  text-decoration: none !important;
  text-decoration-color: transparent;
  background-color: transparent;
  color: navy;
}
